<div class="container-fluid px-0 bg-dark">
  <div class="row mx-auto px-0 mx-0">
    <div class="col-12 video-header mx-auto px-0 mx-0">
      <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="../../../../assets/videos/coverr-ocean-resort-1559889742772.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
          <div class="d-flex h-100 text-center align-items-center justify-content-center">
            <div class="w-100 text-white">
              <h1 class="display-4">Get ready for Summer! </h1>
              <p class="lead mb-0">Try our Gintastic recipes</p>
              <br>
              <div class="btn btn-success btn-view-gins" (click)="scrollToElement(section2)"><i class="fas fa-cocktail"></i> View Gins</div>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
  <div class="row pb-5">
    <div class="container">
      <div class="row pt-1">
        <div class="col-12 pt-4 px-5" #section2>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search for a gin" [(ngModel)]="searchTerm" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-danger" type="button" id="button-addon3" (click)="clear()"><i class="fas fa-trash"></i></button>
              <button class="btn btn-success" type="button" id="button-addon2" (click)="filterGins()"><i class="fas fa-search"></i> Search Gin</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-2" *ngIf="gins.length > 0">
        <div class="col-12 px-5" *ngFor="let gin of filteredGins; let i = index">
          <mat-card class="example-card main-card" *ngIf="i === 0">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + gin.payload.doc.data().imageUrl + ')'}"></div>
              <mat-card-title>{{gin.payload.doc.data().name}} - {{gin.payload.doc.data().degrees}}° {{gin.payload.doc.data().content}}cl</mat-card-title>
              <mat-card-subtitle>{{gin.taste}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{gin.payload.doc.data().description}}...
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="btn btn-success" (click)="viewGinDetails(gin.payload.doc.id)"><i class="fas fa-eye"></i> View More</button>&nbsp;
              <button mat-button class="btn btn-primary"><i class="fas fa-plus-square"></i> Add to my ginventory</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="row" *ngIf="gins.length > 0">
        <div class="col-md-4 pt-4 px-5" *ngFor="let gin of filteredGins | slice: 1">
          <mat-card class="example-card sub-card">
            <mat-card-header>
              <mat-card-title>{{gin.payload.doc.data().name}} - {{gin.payload.doc.data().degrees}}° {{gin.payload.doc.data().content}}cl</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{gin.payload.doc.data().imageUrl}}" alt="{{gin.payload.doc.data().name}}">
            <mat-card-content>
              <p>
                {{(gin.payload.doc.data().description | slice:0:125)}} ..
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="btn btn-block btn-success" (click)="viewGinDetails(gin.payload.doc.id)"><i class="fas fa-eye"></i> View More</button>
              <button mat-button class="btn btn-block btn-primary"><i class="fas fa-plus-square"></i> Add to my ginventory</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-12 px-5 text-white">
          <p>No results found.</p>
        </div>
      </div>
    </div>
  </div>
</div>
