<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 py-5 mt-5">
        <div class="card" style="width: 100%;">
          <img src="{{gin?.imageUrl}}" class="card-img-top gin-details-img" alt="{{gin?.name}}">
          <div class="card-body">
            <h5 class="card-title">{{gin?.name}} - {{gin?.degrees}}° {{gin?.content}}cl</h5>
            <p class="card-text"><strong>Taste:</strong> {{gin?.taste}}</p>
            <p class="card-text"><strong>Description:</strong> {{gin?.description}}</p>
            <div class="list-group">
              <a class="list-group-item list-group-item-action active text-white">
                Ingredients
              </a>
              <a class="list-group-item list-group-item-action" *ngFor="let ingredient of gin?.ingredients"><i class="fab fa-pagelines"></i> {{ingredient}}</a>
            </div>
            <br>
            <a class="btn btn-primary text-white"><i class="fas fa-plus-square"></i> Add to my ginventory</a>&nbsp;
            <a class="btn btn-success text-white"><i class="fas fa-plus-square"></i> Add a recipe</a>
            <hr>
            <h3 class="card-title">Gin Recipes</h3>
            <div class="row" *ngIf="recipes.length > 0">
              <div class="col-sm-12 col-md-4" *ngFor="let recipe of recipes">
                <div class="card" style="width: 100%;">
                  <img src="{{recipe?.imageUrl}}" class="card-img-top" alt="{{recipe?.name}}">
                  <div class="card-body">
                    <h5 class="card-title">{{recipe?.name}}</h5>
                    <p class="card-text">{{recipe?.description}}</p>
                    <ul class="list-unstyled">
                      <li class="active"><strong>Ingredients</strong></li>
                      <li *ngFor="let ingredient of recipe.ingredients"><i class="fab fa-pagelines"></i> {{ingredient}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="recipes.length <= 0">
              <div class="col-12">
                <p>There are not recipes yet for this gin. Be the first to create one!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
